<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="save(f.value)" #f="ngForm">
      <div class="form-group">
        <label for="tittle">Tittle</label>
        <input type="text" 
                id="tittle" 
                class="form-control" 
                name="title"
                [(ngModel)]="product.title" 
                required
                #title="ngModel">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is required!
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" 
                    id="price" 
                    class="form-control"
                    name="price"
                    [(ngModel)]="product.price" 
                    required
                  #price="ngModel"
                  [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Price is required!</div>
            <div *ngIf="price.errors.min">Price should be 0 or higher!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" 
                class="form-control"
                name="category" 
                [(ngModel)]="product.category"
                required
                #category="ngModel">
          <option value=" "></option>
          <option *ngFor="let c of categories$ | async" [value]="c.$key"> {{c.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
            Category is required!
        </div>
      </div>
      <div class="form-group">
        <label for="imgageUrl">Imgage Url</label>
        <input type="text" 
                id="imgageUrl" 
                class="form-control" 
                name="imageUrl"
                [(ngModel)]="product.imageUrl" 
                required
                #imageUrl="ngModel"
                url>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">Image Url is required!</div>
          <div *ngIf="imageUrl.errors.url">Please enter valid Url!</div>
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <product-cart [product]="product" [show-actions]="false"></product-cart>
  </div>
</div>
